.sidebar li {
    margin-bottom: 2em;
    font-size: 18px;
    font-weight: 500;
}

.sidebar li:hover span {
    display: inline-block;
    transform: translatey(-1px);
}

.sidebar svg {
    margin-right: 5px;
}

a {
    color: rgb(8, 8, 8) !important;
}

a.active_class {
    color: #009444 !important; 
}